<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Geometria Analítica</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">

</head>
<body>
	
	<div class="container">
		<nav class="navbar bg-light">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1">Geometria Analítica</span>
			</div>
		</nav>
		<main>
			<div>
				<h3>Operações Disponíveis</h3>
			</div>
			<a href="/distancia-ponto">Distância entre dois pontos</a>
			<a href="#">Calcular coeficiente angular</a>
		</main>
	</div>
</body>
</html>