<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Geometria Analítica</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
	
	<style>
		a:hover {
			text-decoration: none;
		}
	</style>
	

</head>
<body>
	
	<div class="container">
		<nav class="navbar bg-light">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1">Geometria Analítica</span>
			</div>
		</nav>
		<main>
			<div>
				<h3>Operações Disponíveis</h3>
			</div>
			<div class="d-grid gap-2 col-6 mx-auto">
				
				<a href="/reta" class="d-flex">
					<button class="btn btn-primary flex-fill" type="button">Equação da Reta</button>
				</a>
				<!--
				<a href="/distancia-ponto" class="d-flex">
					<button class="btn btn-primary flex-fill" type="button">.</button>
				</a>
				-->
			</div>
			
			<article>
				<h4>Definição</h4>
				<blockquote cite="https://mundoeducacao.uol.com.br/matematica/geometria-analitica.htm">
					A Geometria Analítica estabelece conexões entre geometria e álgebra, de modo que os conceitos da geometria são analisados por meio de processos algébricos. Ela foi criada pelo matemático francês René Descartes e, por isso, também é chamada de geometria cartesiana.
				</blockquote>
				<small>Fonte: Mundo Educação</small>
			</article>
		</main>
	</div>
</body>
</html>