<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Geometria Analítica</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">

</head>
<body>
	
	<div class="container">
		<nav class="navbar bg-light">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1">Geometria Analítica</span>
			</div>
		</nav>
		<main>
			<a class="btn btn-primary" href="/" role="button">&lt; Voltar</a>
			
			<form id="form-1">
				<div>
					<p>Coordenadas do Ponto 1</p>
					<input type="text"/>
					<input type="text"/>
				</div>
				<div>
					<p>Coordenadas do Ponto 2</p>
					<input type="text"/>
					<input type="text"/>
				</div>
			</form>
		</main>
	</div>
</body>
</html>